<!DOCTYPE html>
<html>
<head th:replace="views/common :: head_fragment(title = 'アカウント新規作成', scripts = ~{::script}, links = ~{::link})"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/account_new_create.css}"/>
<body>
    <div th:replace="views/common :: header_fragment"></div>
    <div class="message_box">
        <div class="message_area">
            <div class="message_title">
                <h2>有効期限が切れています</h2>
            </div>
            <div class="message">
                <p>もう一度メールアドレスを入力してください。</p>
            </div>
        </div>
        <div class="return_link">
            <p>
            <th:block th:if="${pageStatus == 'accountNewCreate'}">
                <a th:text="アカウント新規作成画面へ" th:href="@{/accountNewCreate}"></a>
            </th:block>
            <th:block th:if="${pageStatus == 'accountEdit' && id != null}">
                <a th:text="アカウント編集画面へ" th:href="@{/account/edit(id=${id})}"></a>
            </th:block>
            <th:block th:if="${pageStatus == 'passwordNewCreate'}">
                <a th:text="パスワード再発行画面へ" th:href="@{/passwordNewCreate}"></a>
            </th:block>
            </p>
        </div>
    </div>
</body>
</html>