<!DOCTYPE html>
<html>
<head th:replace="views/common :: head_fragment(title = 'パスワード再発行', scripts = ~{::script}, links = ~{::link})"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/password_new_create.css}"/>
<body>
    <div th:replace="views/common :: header_fragment"></div>
    <div class="message_box">
        <div class="message_area">
            <div class="message_title">
                <h1>メール送信完了</h1>
            </div>
            <div class="message">
                <p>入力いただいたメールアドレスに<br>パスワード再発行URLをお送りしました。</p>
            </div>
        </div>
        <div class="return_link">
            <p><a href="/passwordNewCreate"  th:text="もう一度メールアドレスを入力する" th:href="@{/passwordNewCreate}"></a></p>
        </div>
    </div>
</body>
</html>