
<head xmlns:th="http://www.thymeleaf.org" th:fragment="head_fragment(title, scripts, links)">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>

</head>


<header xmlns:th="http://www.thymeleaf.org" th:fragment="header_fragment" id="header">
    <h1><a href="/tweetSearch"  th:href="@{/tweetSearch}">TweetSearch</a></h1>
    <nav class="gnav">
        <ul class="menu">
            <li th:if="${loginAccount != null}"><a href="/tweetSearch"  th:href="@{/tweetSearch}" class="menu_text">Tweet検索</a></li>
            <li th:if="${loginAccount != null && loginAccount.adminFlag == roleAdmin}"><a href="/account"  th:text="アカウント一覧画面へ" th:href="@{/account}" class="menu_text"></a></li>
            <li th:if="${loginAccount != null && loginAccount.adminFlag != roleGuest}"><a href="/account/edit" th:href="@{/account/edit(id=${loginAccount.id})}"><span class="account_icon"></span></a></li>
        </ul>
    </nav>
</header>
