<!DOCTYPE html>
<html>
<head th:replace="views/common :: head_fragment(title = 'TweetSearch', scripts = ~{::script}, links = ~{::link})">
</head>
<script type="text/javascript" src="https://platform.twitter.com/widgets.js" th:src="@{https://platform.twitter.com/widgets.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/tweet.css}"/>
<body>
    <div th:replace="views/common :: header_fragment"></div>
    <div class="search_box">
        <form action="#" th:action="@{/tweetSearch}" method="GET">
            <div class="query_iptxt">
                <label class="ef">
                   <input type="text" name="query" th:value="${query}" placeholder="検索キーワードを入力してください" autofocus="autofocus">
                </label>
            </div>
            <input type="submit" value="検索" class="submit_button">
        </form>
    </div>
    <div class="search_title_erea">
        <h1 th:if="${!query.isBlank()}">『<th:block th:text="${query}"></th:block>』の検索結果</h1>
    </div>
    <div class="tweet_box">
        <div class="tweet_area" th:each="twitter : ${twitters}">
            <iframe width="560" height="315" th:src="${twitter.videoUrl}+'&playsinline=0&autoplay=muted'" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="next_btn_erea" th:if="${next_token != null&&!next_token.isBlank()}">
        <form action="#" th:action="@{/tweetSearch}" method="GET">
            <input type="hidden" name="query" th:value="${query}">
            <input type="hidden" name="next_token" th:value="${next_token}">
            <div class="next_btn_erea">
                <input type="submit" value="次へ" class="next_btn">
            </div>
        </form>
    </div>
</body>
</html>