<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
     <div th:object="${formAccount}">
         <p th:errors="*{email}"></p>
         <form action="#" th:action="@{/account/emailUpdate}" method="post">
             <div>
                 <label>メールアドレス</label>
                 <p><input type="text" th:field="*{email}"></p>
             </div>
             <input type="submit" value="保存">
         </form>
     </div>
     <div th:object="${formAccount}">
         <p th:errors="*{password}"></p>
         <p th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"></p>
         <form action="#" th:action="@{/account/passwordUpdate}" method="post">
             <div>
                 <label>パスワード</label>
                 <p><input type="password" th:field="*{password}"></p>
             </div>
             <div>
                 <label>パスワード(確認)</label>
                 <p><input type="password" th:field="*{passwordConfirm}"></p>
             </div>
             <input type="submit" value="保存">
         </form>
     </div>
</body>
</html>