<!DOCTYPE html>
<html lang="ja">
<head th:replace="views/common :: head_fragment(title = 'アカウント編集', scripts = ~{::script}, links = ~{::link})">
</head>
<body>
    <div th:replace="views/common :: header_fragment"></div>
    <div id="wrapper">
        <h2>アカウント　一覧</h2>
        <table id="employee_list">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>アカウント名</th>
                    <th>メールアドレス</th>
                </tr>
                <tr th:each="account : ${accounts}">
                    <td><a href="/account/edit.html"  th:text="${account.id}" th:href="@{/account/edit(id=${account.id})}"></a></td>
                    <td th:text="${account.email}"></td>
                </tr>
            </tbody>
        </table>
        <div>
          <ul>
            <li style="display:inline;">
              <span th:if="${page.first}">&lt;&lt;前</span>
              <a
                th:if="${!page.first}"
                th:href="@{/account/(page = ${page.number} - 1)}"
              >
                &lt;&lt;前
              </a>
            </li>
            <li
              th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
              style="display:inline; margin-left:10px;"
            >
              <span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
              <a
                th:if="${i} != ${page.number}"
                th:href="@{/account/(page = ${i})}"
              >
                <span th:text="${i+1}">1</span>
              </a>
            </li>
            <li style="display:inline; margin-left:10px;">
              <span th:if="${page.last}">次&gt;&gt;</span>
              <a
                th:if="${!page.last}"
                th:href="@{/account/(page = (${page.number} + 1))}"
              >
                次&gt;&gt;
              </a>
            </li>
          </ul>
        </div>
</body>
</html>