<!DOCTYPE html>
<html lang="ja">
<head th:replace="views/common :: head_fragment(title = 'アカウント編集', scripts = ~{::script}, links = ~{::link})"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}"/>
<script th:src="@{/js/account.js}"></script>
<body>
    <div th:replace="views/common :: header_fragment"></div>
    <div class="account_list_box">
        <h2>アカウント一覧</h2>
        <div class="flush_message" th:if="${flush} != null">
            <p th:text="${flush}"></p>
        </div>
        <table class="account_list_area">
            <tbody>
                <tr class="account_list_title">
                    <th>ID</th>
                    <th>メールアドレス</th>
                    <th>作成日</th>
                    <th></th>
                </tr>
                <tr th:each="account : ${accounts}">
                    <th:block th:if="${account.id != loginAccount.id}">
                        <td><a th:text="${account.id}" th:href="@{/account/edit(id=${account.id})}"></a></td>
                        <td th:text="${account.email}"></td>
                        <td th:text="${#temporals.format(account.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
                        <td><a th:text="削除" th:href="@{/account/delete(id=${account.id})}" th:attr="onclick='return deleteCheck('+${account.id}+')'"></a></td>
                    </th:block>
                </tr>
            </tbody>
        </table>
         <nav class="pagination" th:fragment='paginationbar' th:if="${accounts != null and accounts.size() > 0}">
          <div class="nav-links">
            <a class="first page-numbers" th:if="${not page.first}" th:href="@{/account/(page=0)}">&laquo;</a>
            <th:block  th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'>
              <a th:if="${i != page.number}" class="page-numbers" th:href="@{${'/account'}(page=${i})}" th:text='${i+1}'></a>
              <span th:if="${i == page.number}" aria-current="page" class="page-numbers current" th:text='${i+1}'></span>
            </th:block>
            <a  th:if="${not page.last}" class="last page-numbers" th:href="@{${'/account'}(page=(${page.totalPages} -1))}">&raquo;</a>
          </div>
        </nav>
</body>
</html>