<!DOCTYPE html>
<html lang="ja">
<head th:replace="views/common :: head_fragment(title = 'アカウント編集', scripts = ~{::script}, links = ~{::link})"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
<script th:src="@{/js/account.js}"></script>
<body>
    <div th:replace="views/common :: header_fragment"></div>
    <div class="account_list_box">
        <h2>アカウント一覧</h2>
        <div class="flush_message" th:if="${flush} != null">
            <p th:text="${flush}"></p>
        </div>
        <table class="account_list_area">
            <tbody>
                <tr class="account_list_title">
                    <th>ID</th>
                    <th>メールアドレス</th>
                    <th>作成日</th>
                    <th></th>
                </tr>
                <tr th:each="account : ${accounts}">
                    <th:block th:if="${account.id != loginAccount.id}">
                        <td><a th:text="${account.id}" th:href="@{/account/edit(id=${account.id})}"></a></td>
                        <td th:text="${account.email}"></td>
                        <td th:text="${#temporals.format(account.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
                        <td><a th:text="削除" th:href="@{/account/delete(id=${account.id})}" th:attr="onclick='return deleteCheck('+${account.id}+')'"></a></td>
                    </th:block>
                </tr>
            </tbody>
        </table>
        <div class="pagination_box" th:fragment='paginationbar'>
            <ul>
                <li th:class="${page.first} ? 'disabled':''" style="display:inline">
                    <span th:if="${page.first}"><<</span>
                    <a th:if="${not page.first}" th:href="@{/account/(page=0)}"><<</a>
                </li>
                <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
                    <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                    <a th:if='${i}!=${page.number}' th:href="@{/account/(page=${i})}">
                        <span th:text='${i+1}'>1</span>
                    </a>
                </li>
                <li th:class="${page.last} ? 'disabled':''" style="display:inline">
                    <span th:if="${page.last}">>></span>
                    <a th:if="${not page.last}" th:href="@{/account/(page=(${page.totalPages}-1))}">>></a>
                </li>
            </ul>
        </div>
</body>
</html>