<!DOCTYPE html>
<html>
<head th:replace="views/common :: head_fragment(title = 'アカウント新規作成', scripts = ~{::script}, links = ~{::link})"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/account_new_create.css}"/>
<body>
    <div th:replace="views/common :: header_fragment"></div>
    <div class="message_box">
        <div class="message_area">
            <div class="message_title">
                <h1>登録完了しました</h1>
            </div>
            <div class="message">
                <p>アカウントを登録しました。<br>ログイン画面からログインしてください。</p>
            </div>
        </div>
        <div class="return_link">
            <p><a th:text="ログインする" th:href="@{/login}"></a></p>
        </div>
    </div>
</body>
</html>