<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<title>ログイン</title>
</head>
<body>
    <div>
        <h2>ログイン</h2>
            <div th:if="${param.error}">
                メールアドレスかパスワードが間違っています
            </div>
            <div th:if="${logout}" th:text="${logout}"></div>
        <div>
            <form action="#" th:action="@{/login}" method="post">
                <div>
                    <p>メールアドレス</p>
                    <p><input type="text" name="username" /></p>
                </div>
                <div>
                    <p>パスワード</p>
                    <p><input type="password" name="password" /></p>
                </div>
                <input type="submit" value="ログイン">
            </form>
            <p><a href="/accountNewCreate"  th:text="アカウント新規作成" th:href="@{/accountNewCreate}"></a></p>
            <p><a href="/passwordNewCreate"  th:text="パスワードをお忘れの場合" th:href="@{/passwordNewCreate}"></a></p>
        </div>
    </div>
</body>
</html>